
RewriteEngine on
RewriteCond %{HTTP_HOST} ^theartofchanging.co.uk$
RewriteRule ^/?$ "http\:\/\/www\.theartofchanging\.co\.uk\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^theartofchanging.com$
RewriteRule ^/?$ "http\:\/\/www\.theartofchanging\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^glenpark.org.uk$
RewriteRule ^/?$ "http\:\/\/www\.glenpark\.org\.uk\/" [R=301,L]

